@import "../variables";

.chat-body {
  margin: 20px 0;
  overflow-y: scroll;
  height: 100%;
  position: relative;
  
  &-messages {
    padding: 0 20px;
    position: relative;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
  }
  
  &-message {
    margin-bottom: 10px;
    .message-text {
      display: inline-block;
      padding: 10px 20px;
      border-radius: 10px;
      background-color: $main;
    }
    &.send {
      text-align: right;
      .message-text {
        background-color: $dark-red;
        color: white;
      }
    }
  }
}