@import "../variables";

.chat-footer {
  border-top: 2px solid $main;
  padding-top: 20px;
  .form {
    padding-right: 100px;
    position: relative;
    box-sizing: border-box;
    .chat-footer-input {
      background-color: $main;
      border: 1px solid $main;
      box-shadow: none;
      color: $dark-gray;
      display: block;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      height: 30px;
      padding: 0 10px;
      width: 100%;
      transition: background-color 0.2s;
      &:focus {
        outline: 0;
        background-color: #fff;
      }
    }
    .chat-footer-send-button {
      position: absolute;
      top: 5px;
      right: 10px;
    }
  }
}