extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  
  .container-fluid.h-100
    .row.justify-content-center.h-100
      .col-md-4.col-xl-3.chat
        .card.mb-sm-3.mb-md-0.contacts_card
          .card-header
            .input-group
              input.form-control.search(type='text' placeholder='Search...' name='')
              .input-group-prepend
                span.input-group-text.search_btn
                  i.fas.fa-search
          .card-body.contacts_body
            ui.contacts
              li.active
                .d-flex.bd-highlight
                  .img_cont
                    img.rounded-circle.user_img(src='https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg')
                    span.online_icon
                  .user_info
                    span Khalid
                    p Kalid is online
                    
  
      .col-md-8.col-xl-6.chat
        .card
          .card-header.msg_head
            .d-flex.bd-highlight
              .img_cont
                img.rounded-circle.user_img(src='https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg')
                span.online_icon
              .user_info
                span Chat with Khalid
                p 1767 Messages
              .video_cam
                span
                  i.fas.fa-video
                span
                  i.fas.fa-phone
            span#action_menu_btn
              i.fas.fa-ellipsis-v
            .action_menu
              ul
                li
                  i.fas.fa-user-circle
                  |  View profile
                li
                  i.fas.fa-users
                  |  Add to close friends
                li
                  i.fas.fa-plus
                  |  Add to group
                li
                  i.fas.fa-ban
                  |  Block
          .card-body.msg_card_body
            .d-flex.justify-content-start.mb-4
              .img_cont_msg
                img.rounded-circle.user_img_msg(src='https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg')
              .msg_cotainer
                | Hi, how are you samim? 
                span.msg_time 8:40 AM, Today
          
          
          
          .card-footer
            .input-group
              .input-group-append
                span.input-group-text.attach_btn
                  i.fas.fa-paperclip
              textarea.form-control.type_msg(name='' placeholder='Type your message...')
              .input-group-append
                span.input-group-text.send_btn
                  i.fas.fa-location-arrow


