<div class="chat-footer">
  <form class="form" action="/index/receive_message" data-remote="true" accept-charset="UTF-8" method="post" data-type="json">
    <input type="text" class="chat-footer-input" placeholder="Type a message"/>  
    <input type="submit" value="Send" disabled class="chat-footer-send-button"/>
  </form>
</div>