<div class="chat-footer">
  <div class="form">
    <input type="text" class="chat-footer-input" placeholder="Type a message"/>  
    <button disabled class="chat-footer-send-button">Send</button>
  </div>
</div>