<div class="chat-header">
  <div class="chat-header-user">
    <div class="avatar"></div>
    <div class="info">
      <div class="name">Ivan groznyi</div>
      <div class="status">online</div>
    </div>
  </div>
</div>