<div class="chat-header">
  <div class="chat-header-user">
    <div class="avatar avatar-lg">
      <img src="./dist/media/img/man_avatar3.jpg" class="rounded-circle">
    </div>
    <div>
      <h5>Karl Hubane</h5>
      <small class="text-muted">
        <i>Online</i>
      </small>
    </div>
  </div>
</div>