// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat {
  @import "chat/common";
  @import "chat/header";
  @import "chat/body";
  @import "chat/footer";
  
  margin: 100px auto;
  width: 760px;
  height: 500px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}